@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);
@import url(https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap);
@font-face { font-family: 'BrushScriptMT'; src: url('./fonts/brush-script-mt/BRUSHSCI.ttf'); }

html {
    font-size: 10px;

    --neon-text-color: #ec5ee6;
    --neon-text-color2: #3331b7;
    --neon-border-color: #74f1fc;
    --neon-border-color2: #5dd1fa;

    --text-neon-pink: -0.1rem -0.1rem 0.25rem #fff,
        0.1rem 0.1rem .25rem #fff,
        0 0 .175rem var(--neon-text-color),
        0 0 .325rem var(--neon-text-color),
        0 0 .75rem var(--neon-text-color),
        0 0 1.25rem var(--neon-text-color),
        0 0 2.5rem var(--neon-text-color);

    --text-neon-purple: -0.1rem -0.1rem 0.25rem #fff,
        0.1rem 0.1rem .25rem #fff,
        0 0 .175rem var(--neon-text-color2),
        0 0 .325rem var(--neon-text-color2),
        0 0 .75rem var(--neon-text-color2),
        0 0 1.25rem var(--neon-text-color2),
        0 0 2.5rem var(--neon-text-color2);

    --text-neon-turk: -0.1rem -0.1rem 0.25rem #fff,
        0.1rem 0.1rem .25rem #fff,
        0 0 .175rem var(--neon-border-color),
        0 0 .325rem var(--neon-border-color),
        0 0 .75rem var(--neon-border-color),
        0 0 1.25rem var(--neon-border-color),
        0 0 2.5rem var(--neon-border-color);

    --text-neon-blue: -0.1rem -0.1rem 0.25rem #fff,
        0.1rem 0.1rem .25rem #fff,
        0 0 .175rem var(--neon-border-color2),
        0 0 .325rem var(--neon-border-color2),
        0 0 .75rem var(--neon-border-color2),
        0 0 1.25rem var(--neon-border-color2),
        0 0 2.5rem var(--neon-border-color2);



    --box-neon-turk: 0 0 .175rem #fff,
        inset 0 0 .175rem #fff,
        0 0 .5rem var(--neon-border-color2),
        inset 0 0 .5rem var(--neon-border-color2),
        0 0 1rem var(--neon-border-color2),
        inset 0 0 1rem var(--neon-border-color2);

    --box-neon-blue: 0 0 .175rem #fff,
        inset 0 0 .175rem #fff,
        0 0 .5rem var(--neon-border-color),
        inset 0 0 .5rem var(--neon-border-color),
        0 0 1rem var(--neon-border-color),
        inset 0 0 1rem var(--neon-border-color);

    --box-neon-pink: 0 0 .175rem #fff,
        inset 0 0 .175rem #fff,
        0 0 .5rem var(--neon-text-color),
        inset 0 0 .5rem var(--neon-text-color),
        0 0 1rem var(--neon-text-color),
        inset 0 0 1rem var(--neon-text-color);

    --box-neon-purple: 0 0 .175rem #fff,
        inset 0 0 .175rem #fff,
        0 0 .5rem var(--neon-text-color2),
        inset 0 0 .5rem var(--neon-text-color2),
        0 0 1rem var(--neon-text-color2),
        inset 0 0 1rem var(--neon-text-color2);

    position: relative;
}

.neon-text--pink {
    text-shadow: var(--text-neon-pink);
}
.neon-text--purple {
    text-shadow: var(--text-neon-purple);
}
.neon-text--turk {
    text-shadow: var(--text-neon-turk);
}
.neon-text--blue {
    text-shadow: var(--text-neon-blue);
}
.neon-box--pink {
    box-shadow: var(--box-neon-pink);
}
.neon-box--purple {
    box-shadow: var(--box-neon-purple);
}
.neon-box--turk {
    box-shadow: var(--box-neon-turk);
}
.neon-box--blue {
    box-shadow: var(--box-neon-blue);
}
.neon-pink-shadow {
    filter: url(#pink-shadow);
    -webkit-filter: url(#pink-shadow);
}
.neon-blue-shadow {
    box-shadow: none;
    text-shadow: none;
    filter: url(#blue-shadow);
    -webkit-filter: url(#blue-shadow);
}

body {
    font-family: 'Rajdhani', sans-serif;
    display: flex;
    background: #1d1d1b;
    min-height: 100vh;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 5rem;
}

.logo {
    height: 100%;
    width: 100%;
}

#video {
    height: 100%;
    max-width: 90%;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Base neon sign */
.neon-sign {
    font-size: 10rem;
    margin-top: 0;
    max-width: 80%;
    font-weight: 600;
    text-align: center;
    white-space: wrap;
    font-weight: 200;
    font-style: italic;
    color: #fff;
    padding: 4rem 6rem;
    border: 0.4rem solid #fff;
    border-radius: 2rem;
    text-transform: uppercase;
    will-change: filter;
}


/* Base neon colors */
.white {
    filter: url(#white-shadow);
    -webkit-filter: url(#white-shadow);
}
.blue {
    filter: url(#blue-shadow);
    -webkit-filter: url(#blue-shadow);
}
.pink {
    filter: url(#pink-shadow);
    -webkit-filter: url(#pink-shadow);
}
.turkquoise {
    filter: url(#turkquoise-shadow);
    -webkit-filter: url(#turkquoise-shadow);
}

/* Add flicker animations */
.flicker7 {
    animation: flicker 7s infinite 0.01s alternate;
}
.flicker10 {
    animation: flicker 10s infinite 0.01s alternate;
}
.flicker8-secondary {
    animation: flickersecondary 8s infinite 0.01s alternate;
}


.flicker-svg-pink {
    animation: flicker-svg-pink 10s infinite alternate;
    -webkit-animation: flicker-svg-pink 10s infinite alternate;
}
.flicker-svg-pink8 {
    animation: flicker-svg-pink 8s infinite alternate;
    -webkit-animation: flicker-svg-pink 8s infinite alternate;
}


.flicker-svg-white {
    animation: flicker-svg-white 9s infinite alternate;
    -webkit-animation: flicker-svg-white 9s infinite alternate;
}


.flicker-svg-blue {
    animation: flicker-svg-blue 12s infinite alternate;
    -webkit-animation: flicker-svg-blue 12s infinite alternate;
}


.neon-sign::-moz-selection {
    background-color: var(--neon-border-color);
    color: var(--neon-text-color);
}
.neon-sign::selection {
    background-color: var(--neon-border-color);
    color: var(--neon-text-color);
}


img {
    width: 100%;
    height: 50vh;
    object-fit: contain;
}



/* Animate neon flicker */
@keyframes flicker {
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        text-shadow: var(--text-neon-pink);
        box-shadow: var(--box-neon-blue);
    }
    20%,
    24%,
    55% {
        text-shadow: none;
        box-shadow: none;
    }
}

@keyframes flicker-svg-pink {
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        filter: url(#pink-shadow);
        -webkit-filter: url(#pink-shadow);
    }
    20%,
    24%,
    55% {
        filter: none;
        -webkit-filter: none;
    }
}
@keyframes flicker-svg-white {
    0%,
    19%,
    21%,
    23%,
    25%,
    84%,
    86%,
    100% {
        filter: url(#white-shadow);
        -webkit-filter: url(#white-shadow);
    }
    20%,
    24%,
    85% {
        filter: none;
        -webkit-filter: none;
    }
}

@keyframes flicker-svg-blue {
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        filter: url(#blue-shadow);
        -webkit-filter: url(#blue-shadow);
    }
    20%,
    24%,
    55% {
        filter: none;
        -webkit-filter: none;
    }
}

@keyframes flickersecondary {
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        text-shadow: var(--text-neon-pink);
        box-shadow: var(--text-neon-purple);
    }
    20%,
    24%,
    55% {
        text-shadow: none;
        box-shadow: none;
    }
}

.countdown__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 10rem;
    margin: 2rem;
    margin-bottom: 15rem;
}

.countdown__container__part {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0 2rem;
}

.countdown__container__part-top {
    font-size: 2rem;
}

.countdown__container__part-bottom {
    font-size: 6rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#coming-soon {
    margin: 3rem 2rem 2rem 2rem;
    font-size: 6rem;
}

.video-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    min-width: 100%;
}
.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: radial-gradient(circle, rgba(60,0,199,1) 0%, rgba(0,212,255,1) 0%, rgba(239,0,255,1) 100%);
    opacity: .5;
}

h1 {
    font-size: 8rem;
    margin: 0;
}
h2 {
    font-size: 6rem;
    margin: 0;
}
h3 {
    font-size: 4rem;
    margin: 0;
}
.caret {
    transform: rotate(270deg);
    transform-origin: center;
    font-size: 20rem;
    font-family: sans-serif;
    color: white;
    line-height: 10rem;
    margin-left: -5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-shadow: var(--text-neon-pink)
}

.caret-up {
    transform: rotate(90deg);
    transform-origin: center;
    font-size: 20rem;
    font-family: sans-serif;
    color: white;
    line-height: 10rem;
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-shadow: var(--text-neon-pink)
}

.d-none {
    display: none;
}

.turn-it-up {
    font-size: 6rem;
}

@media (orientation: landscape) {
    .logo {
        width: 30vw;
    }
}


@media (min-width:1045px) {
    html {
        font-size: .5rem;
    }

    body {
        width: 80%;
        margin: 1rem auto;
    }

    h2 {
        font-size: 2rem;
    }
    
    .other-shit {
        display: flex;
        flex-direction: row;
    }

    #coming-soon {
        font-size: 4rem;
        height: fit-content;
        padding: 5rem;
    }

    .caret {
        display: none;
    }

    .video-wrapper {
        margin-bottom: 8rem;
        min-width: 100%;
    }

    video {
        min-width: 100%;
        max-width: 100%;
    }

    .logo {
        height: 50%;
        width: 40%;
        max-width: 40%;
    }
}

@media (min-width:1350px) {
    .other-shit {
        position: absolute;
        top: 20rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 95%;
    }

    #coming-soon {
        transform: rotate(358deg);
    }

    .countdown__container {
        transform: rotate(4deg) translateY(2rem);
    }
}



.cls-1,
.cls-2 {
    fill: #fff;
}
.cls-3 {
    fill: #ff3ba8;
}
.cls-4 {
    fill: #979ea0;
}
.cls-5 {
    opacity: .2;
}
.cls-6 {
    filter: url(#outer-glow-1);
}
.cls-2 {
    font-family: BrushScriptMT, 'Brush Script MT';
    font-size: 35px;
}
.cls-7 {
    opacity: .3;
}
.cls-8 {
    fill: #eaeaea;
}
.cls-9 {
    fill: #ff78d2;
}
.cls-10 {
    fill: #21e0ff;
}
.cls-11 {
    opacity: .16;
}
.cls-12 {
    fill: #00a2ff;
}
.cls-13 {
    opacity: .12;
}
.cls-14 {
    fill: #b6ffff;
}
.cls-15 {
    fill: #c9ccce;
}
.cls-16 {
    fill: #ff9fe1;
}
.cls-17 {
    fill: #f2f3f3;
}
.cls-18 {
    fill: #0d073e;
}
.cls-19 {
    filter: url(#outer-glow-2);
}