@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);

html {
    font-size: 10px;

    --neon-text-color: rgb(255, 0, 255);
    --neon-border-color: rgb(0, 87, 163);

    position: relative;
}

body {
    font-family: 'Exo 2', sans-serif;
    display: flex;
    background: #000;
    min-height: 100vh;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 5rem;
}

#video {
    height: 100%;
    max-width: 90%;
}

.neon-sign {
    font-size: 10rem;
    margin-top: 0;
    max-width: 80%;
    font-weight: 600;
    text-align: center;
    white-space: wrap;
    font-weight: 200;
    font-style: italic;
    color: #fff;
    padding: 4rem 6rem 5.5rem;
    border: 0.4rem solid #fff;
    border-radius: 2rem;
    text-transform: uppercase;
}

.flicker7 {
    animation: flicker 7s infinite alternate;
}

.flicker10 {
    animation: flicker 10s infinite alternate;
}

.neon-sign::-moz-selection {
    background-color: var(--neon-border-color);
    color: var(--neon-text-color);
}

.neon-sign::selection {
    background-color: var(--neon-border-color);
    color: var(--neon-text-color);
}

.neon-sign:focus {}

img {
    width: 100vw;
    object-fit: contain;
}

/* Animate neon flicker */
@keyframes flicker {

    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {

        text-shadow:
            -0.2rem -0.2rem 1rem #fff,
            0.2rem 0.2rem 1rem #fff,
            0 0 2rem var(--neon-text-color),
            0 0 4rem var(--neon-text-color),
            0 0 6rem var(--neon-text-color),
            0 0 8rem var(--neon-text-color),
            0 0 10rem var(--neon-text-color);

        box-shadow:
            0 0 .5rem #fff,
            inset 0 0 .5rem #fff,
            0 0 2rem var(--neon-border-color),
            inset 0 0 2rem var(--neon-border-color),
            0 0 4rem var(--neon-border-color),
            inset 0 0 4rem var(--neon-border-color);
    }

    20%,
    24%,
    55% {
        text-shadow: none;
        box-shadow: none;
    }
}

.countdown__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 10rem;
    margin: 2rem;
    margin-bottom: 15rem;
}

.countdown__container__part {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0 2rem;
}

.countdown__container__part-top {
    font-size: 2rem;
}

.countdown__container__part-bottom {
    font-size: 6rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#coming-soon {
    margin: 3rem 2rem 2rem 2rem;
}

.video-wrapper {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}
.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: radial-gradient(circle, rgba(60,0,199,1) 0%, rgba(0,212,255,1) 0%, rgba(239,0,255,1) 100%);
    opacity: .5;
}

h1 {
    font-size: 8rem;
    margin: 0;
}
h2 {
    font-size: 6rem;
    margin: 0;
}
h3 {
    font-size: 4rem;
    margin: 0;
}
.caret {
    transform: rotate(270deg);
    transform-origin: center;
    font-size: 20rem;
    font-family: sans-serif;
    color: white;
    line-height: 10rem;
    margin-left: -5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-shadow:
            -0.2rem -0.2rem 1rem #fff,
            0.2rem 0.2rem 1rem #fff,
            0 0 2rem var(--neon-text-color),
            0 0 4rem var(--neon-text-color),
            0 0 6rem var(--neon-text-color),
            0 0 8rem var(--neon-text-color),
            0 0 10rem var(--neon-text-color);
}

.d-none {
    display: none;
}

@media (min-width:1045px) {
    html {
        font-size: .5rem;
    }

    body {
        width: 80%;
        margin: 1rem auto;
    }

    h2 {
        font-size: 2rem;
    }
    
    .other-shit {
        display: flex;
        flex-direction: row;
    }

    #coming-soon {
        font-size: 4rem;
        height: fit-content;
        padding: 5rem;
    }

    

    .caret {
        display: none;
    }
}